.container {
  padding: 0 2rem;
}

.main {
  flex: 1;
  padding-bottom: 4rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.mainColumn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.paragraph {
  width: 45%;
  line-height: 1.5rem;
  padding: 10px;
  text-align: justify;
  font-size: 20px;
}

.textInput {
  width: 100%;
  min-height: 10rem;
  text-align: justify;
  font-size: 13px;
  padding: 10px;
}

.button {
  font-size: 30px;
  margin-top: 40px;
  border: "1px solid #eaeaea";
  padding: 10px
}

@media (max-width: 600px) {
  .mainColumn{
    flex-direction: column;
  }

  .paragraph {
    width: 100%;
    font-size: 16px;
    padding-bottom: 5rem;
  }
  .main {
    padding-top: 0;
  }
}
